:root {
    --clr-primary: #645cff;
    --clr-primary-dark: #282566;
    --clr-primary-light: #a29dff;
    --clr-grey-1: #102a42;
    --clr-grey-5: #617d98;
    --clr-grey-10: #f1f5f8;
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.25rem;
    --large-screen-width: 1170px;
    --small-screen-width: 90vw;
    --fixed-width: 50rem;
  }

.container {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    height: 500px;
    width: 375px;
    text-align: center;
    padding: 2rem 1rem;
    padding-bottom: 0;
    background: #fff;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 20px 24px;
    border-radius: 30px;
}
.modal_head {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.modal_mid {
    height: 301px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.phoneCover {
    /* border: 1px solid yellow; */
    background-color: #eee;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputWrapper {
    display: flex;
    gap: 10px;
}
.inputWrapper input {
    height: 50px;
    width: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.modal_bottom {
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.verifyBtn {
    height: 44px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 0.5rem 1.5rem;
    color: var(--clr-red-dark);
    border: 1px solid var(--clr-red-dark);
    margin-top: 2rem;
    border-radius: var(--radius);
    cursor: pointer;
}
.verifyBtn:hover {
    background: var(--clr-red-light);
    color: var(--clr-red-dark);
    border-color: var(--clr-red-light);
}